a {color: red !important}
body {background-color: black }
p{color: aliceblue; }
#dude { background-color: greenyellow};
 #tdcolor {
     background-color: aliceblue ;
  }
  
  h1{font-family: Impact; 
color: blue;

text-align: center;
text-shadow: 5px 0 0 green, -2px 0 0 green, 0 2px 0 green, 0 -2px 0 green, 1px 1px green, -1px -1px 0 green, 1px -1px 0 green, -1px 1px 0 green;
font-size: 150px}

#one {text-align: left;   }
#two {text-align: right; width: 58%; }
tr {background-color: midnightblue;}
table {text-align: center;}
img {display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px}
    h4{color: aliceblue;}
    #tdid, #tdid2{
        color: red !important;
    
    }

    #tdid:hover{cursor: pointer; text-decoration:underline;}
    #hidden{visibility: hidden; text-align: center; }
    #three{text-align: right !important; width: 630px }
    #bye{border-color: transparent; background-color: transparent; color: red; }
 #bye:hover{text-decoration:underline;}
 #demo{text-align: center;}
 #review{text-align: center;}
 #box{
    margin: auto;
    width: 1000;
}
#name{visibility: hidden; text-align: center;}
#cursor:hover{cursor: pointer; text-decoration:underline;}
#info{text-align: center;}
#id1{visibility: hidden; margin: auto; text-align: center;}
h4{color: aliceblue;}
textarea {
    width: 700px;
    height: 100px;
}



#main {
	border: 1px dotted midnightblue;
	padding: 6px;
	background-color: midnightblue;
	margin-right: 50%;
    word-wrap: break-word;
    
}

#items_table {
	border: 1px dotted midnightblue;
	padding: 6px;
	margin-top: 12px;
	margin-right: 50%;
	width:1250px;
    word-wrap: break-word;
}

#items_table h3 {
	font-size: 18px;
	margin-top: 0px;
	font-family: sans-serif;
}

	.user{ table-layout:fixed;
        width:100%; 
       }
	
td, th{color:red}
th{font-family: fantasy; font-size: 20px}
input[type="text"] {
    width: 300px;
   resize: both;
}

#rotating_image {
    transition: transform 5s ease-in-out;
    transition-property: all;
  }


  #title{  transition: transform 999s 999s;}
  

#title:hover{transform: rotate(350deg);  transition: transform 1s ease-in; 
    display: block;


}




  #cheat{
color: transparent;
background-color: transparent;
border-color: transparent;

  }

  #cheat:hover{
    color: red;
    background-color: blue;
    border-color: green;
    
      }